.chat-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 540px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
    padding:2px;
  }
  
  .chat-header {
    background-color: #191970;
    color: #fff;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .message {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 20px;
    line-height: 1.4;
    font-size: 14px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #00518683;
    color: white;
    border-bottom-right-radius: 0;
  }
  
  .bot-message {
    align-self: flex-start;
    background-color: #e0e0e0;
    border-bottom-left-radius: 0;
  }
  
  .chat-input {
    display: flex;
    padding: 16px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  .chat-input button {
    margin-left: 8px;
    padding: 12px 16px;
    background-color: #191970;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-input button:hover {
    background-color: #3700b3;
  }
  
  .response-button {
    margin: 5px;
    padding: 10px;
    background-color: #191970;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .response-button:hover {
    background-color: #191970a8;
  }
  
  .response-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  